<ion-header>
  <ion-toolbar color="home-red" *ngIf="client">
    <ion-title >{{client.nom}} {{client.prenom}}</ion-title>
    <ion-button color="white" slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="doSomthing($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles" refreshingText="Actualiser...">
      </ion-refresher-content>
    </ion-refresher>
  </div>
  <br>
  <br>
  <br>
  <ion-card *ngIf="client">
    <ion-card-content >
      <img src="assets/icon/person.png" slot="start" style="width: 200px ;border-radius: 100%; margin-left: 70px;"/>
    </ion-card-content>
    <ion-card-title style="color: rgb(12, 70, 163); text-align: center; font-weight : bolder; "> {{client.nom}} {{client.prenom}}</ion-card-title>
    <ion-card-content style="color:black; font-size:120%; margin-left: 80px;" >Email: {{client.email}}</ion-card-content>
    <ion-card-content style="color:black; font-size:120%; margin-left: 80px" >Fax:  {{client.telf}}</ion-card-content>
  </ion-card>
</ion-content>







