<ion-tabs>

  <ion-tab-bar  slot="bottom">
    <ion-tab-button tab="tab1" style="color: rgb(36, 36, 44);">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" style="color: rgb(36, 36, 44);">
      <ion-icon name="document-text-outline"></ion-icon>
            <ion-label>A Propos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" style="color: rgb(36, 36, 44);">
      <ion-icon name="people-circle-outline"></ion-icon>
        <ion-label>Contact</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
