
<ion-header>
  <ion-toolbar color="home-red">
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <div class="ion-padding">
   <div class="img-header">
    <img src="assets/icon/ddz.jpg"/>
  </div>
<div class="tags">
  <p class="green">Profitez de nos conseils d'experts  
   La direction d’Arab Soft consciente de la nécessité de tout mettre en œuvre pour créer les conditions de la croissance de la société, exigence sine qua non pour occuper ...</p>
</div>
<div _ngcontent-kuv-c144="" _ngcontent-kud-c144="" class="col-md-3 col-sm-6 col-xs-12">
  <p _ngcontent-kuv-c144="" _ngcontent-kud-c144="">
  <img _ngcontent-kuv-c144="" _ngcontent-kud-c144="" alt="" src="http://www.arabsoft.com.tn/uploads/ckfinder/files/apropos1.svg" class="svg_apropos3" style="height: 70px; width: 70px;">
</p>
<p _ngcontent-kuv-c144="" _ngcontent-kud-c144="" style="text-align: center;"><span _ngcontent-kuv-c144="" _ngcontent-kud-c144="" style="font-size: 16px;">DÉVELOPPER NOTRE IMPLANTATION INTERNATIONALE</span>
</p>
<p _ngcontent-kuv-c144="" _ngcontent-kud-c144=""><img _ngcontent-kuv-c144="" _ngcontent-kud-c144="" alt="" src="http://www.arabsoft.com.tn/uploads/ckfinder/files/apropos2.svg" class="svg_apropos3" style="height: 70px; width: 70px;">
</p>
<p _ngcontent-kuv-c144="" _ngcontent-kud-c144="" style="text-align: center;">
  <span _ngcontent-kuv-c144="" _ngcontent-kud-c144="" style="font-size: 16px;">RÉPONDRE AUX ENJEUX MÉTIERS DE NOS CLIENTS</span>
</p>
<p _ngcontent-kuv-c144="" _ngcontent-kud-c144="">
  <img _ngcontent-kuv-c144="" _ngcontent-kud-c144="" alt="" src="http://www.arabsoft.com.tn/uploads/ckfinder/files/apropos4(1).svg" class="svg_apropos3" style="height: 70px; width: 70px;">
</p>
<p _ngcontent-kuv-c144="" _ngcontent-kud-c144="" style="text-align: center;">
  <span _ngcontent-kuv-c144="" _ngcontent-kud-c144="" style="font-size: 16px;">PROPOSER NOS SOLUTIONS EN MODE SAAS</span>
</p>
</div>
</div>
</ion-content>
