 <ion-header>
  <ion-toolbar>
        <ion-button shape="round" fill="outline" routerLink="/auth" style="margin-left: 40px;">Connecter</ion-button>
        <ion-button shape="round" fill="outline" routerLink="/insc" style="margin-left: 40px;">Inscription</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="http://www.arabsoft.com.tn/smart/themes/default/assets/img/logo_svg.svg"/>
  <img class="img-intro" src="assets/icon/ccc.jpg" />
  <p class="box-title">Mes Partenaires</p>
  <div class="scroll-box">
    <div class="movie">
      <img src="assets/icon/hot1-ConvertImage.jpg" />
    </div>
    <div class="movie">
      <img src="assets/icon/soc1.jpg" />
    </div>
    <div class="movie">
      <img src="assets/icon/hot2-ConvertImage.jpg" />
    </div>
    <div class="movie">
      <img src="assets/icon/soc2.jpg" />
    </div>
    <div class="movie">
      <img src="assets/icon/bn1.jpg" />
    </div>
    <div class="movie">
      <img src="assets/icon/hot3-ConvertImage.jpg" />
    </div>
    <div class="movie">
      <img src="assets/icon/hot4-ConvertImage.jpg" />
    </div>
  </div>
</ion-content>
