<ion-header >
  <ion-toolbar color="home-red" >
    <ion-title>
  Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <img src="http://www.arabsoft.com.tn/smart/themes/default/assets/img/logo_svg.svg"/>
              <p class="pb-3"><em></em></p>
              <p>
                Rue 8368 - Bloc A - Espace el Aziz - Lot Ennassim - Montplaisir - 1073 Tunis - Tunisie 
                <br><br><br>
                <strong>Phone:</strong>Téléphone
                +216 71 951 248
                Fax
                +216 71 951 044<br>
                <strong>Email:</strong> 
                <strong>arabsoft@arabsoft.com.tn</strong>
            </p>
                <p>marketing@arabsoft.com.tn</p><br>
              
              <div class="social-links mt-3">
                <ion-icon class="twitter" name="logo-twitter"></ion-icon>
                <ion-icon class="facebook" name="logo-facebook"></ion-icon>
                <ion-icon  class="instagram" name="logo-instagram"></ion-icon>
                <ion-icon class="google-plus" name="logo-google"></ion-icon>
                <ion-icon class="linkedin" name="logo-linkedin"></ion-icon>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
 <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>ARABSOFT</span></strong>. All Rights Reserved
      </div>
     
    </div>
  </footer>
</ion-content>
