<ion-app>
  <ion-header>
    <ion-toolbar color="home-red">
      <ion-button color="white" slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-button>
      <ion-title >Liste Des Réclamations</ion-title>
      <ion-item routerLink="/reclama" color="black" style="margin-left: 70%;">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-item>
    </ion-toolbar>
      
  </ion-header>
  <ion-content [fullscreen]="true">
    <div class="ion-padding">
      <ion-refresher slot="fixed" (ionRefresh)="doSomthing($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles" refreshingText="Actualiser...">
        </ion-refresher-content>
      </ion-refresher>
    </div>
    <ion-card *ngFor="let reclamation of reclamations">
      
          <ion-card-title style="color: rgb(12, 70, 163); text-align: center; font-weight : bolder; ">{{reclamation.type_rec}}</ion-card-title>
          <ion-card-content style="color:black; font-size:120%;" >{{reclamation.description_rec}}</ion-card-content>
            <h5>
               <ng-container  *ngFor="let row of reclamation.services">
              <ion-label style="margin-right: 1px ;color:rgb(59, 59, 155);font-weight : bolder; ">{{row.nom_service}} </ion-label>
            </ng-container>
          </h5>
          <h1 style="background-color:rgb(159, 181, 190); width: 200px;margin-left: 70px; border-radius: 20px; text-align: center;"> {{reclamation.etat_rec}}</h1>
    </ion-card>
</ion-content>

</ion-app>