
  <ion-header>
    <ion-toolbar color="home-red" >
      <ion-icon name="home-outline" routerLink="/tabs/tab1" style="width: 30px; height: 30px;" ></ion-icon>
    </ion-toolbar>
  </ion-header>
<ion-content [fullscreen]="true" >
  <div class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="doSomthing($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles" refreshingText="Actualiser...">
      </ion-refresher-content>
    </ion-refresher>
  </div>
  <div class="circlbase type2 circlet1"></div>
  <div class="circlbase type1"></div>
  <div class="circlbase type2 circlet2"></div>
<ion-label class="welcommessage">
  <ion-text color="light">Bienvenue</ion-text>
  <ion-text color="light"><p>Se connecter</p></ion-text>
</ion-label>
<form [formGroup]="form" (ngSubmit)="loginUser()">
  <ion-list lines="none" class="ion-margin ion-padding ion-text-center">
    <small class="danger">{{msg}}</small>
    <ion-item class="ion-margin-vertical">
      <ion-icon 
        name="mail-outline" slot="end" color="medium">
      </ion-icon>
      <ion-input 
        formControlName="email" 
        placeholder="Entrer votre email" required>
      </ion-input>
    </ion-item>
    <ion-text 
      class="ion-text-left"
      color="danger"
      *ngIf="!form.get('email').valid && form.get('email').touched">
      <p class="error">*Veuillez saisir une adresse e-mail valide</p>
    </ion-text>

    <ion-item class="ion-margin-vertical">
      <ion-icon (click)="onChange()"
        [name]="isTypePassword ? 'lock-closed-outline' : 'lock-open-outline'" 
        slot="end" 
        [color]="isTypePassword ? 'medium' : 'primary'">
      </ion-icon>
      <ion-input 
        formControlName="password" 
        [type]="isTypePassword ? 'password' : 'text'"
        placeholder="Entrer votre mot de passe" required>
      </ion-input>
    </ion-item>
    <ion-text 
      class="ion-text-left"
      color="danger"
      *ngIf="!form.get('password').valid && form.get('password').touched">
      <p 
        class="error" 
        *ngIf="form.get('password').invalid && form.get('password').errors.required">
        *Veuillez saisir le mot de passe
      </p>
      <p 
        class="error" 
        *ngIf="form.get('password').dirty">
        *Le mot de passe doit contenir au moins 8 caractères.
      </p>
    </ion-text>

    <ion-row class="ion-margin-vertical">
      <ion-col size="6" class="alignItems">
        <div align=left>
          <ion-checkbox></ion-checkbox>
          <ion-note>Mémoriser?</ion-note>
        </div>
      </ion-col>
      <ion-col size="6">
        <div align=right>
          <ion-note>
            Mot de passe oublié
          </ion-note>
        </div>
      </ion-col>
    </ion-row>
    <ion-button color="primary" shape="round" type="submit">Se connecter</ion-button>
    <p class="signup">
      <ion-note>
        pas encore membre? <ion-text routerLink="/insc" color="primary">S'inscrire</ion-text>
      </ion-note>
    </p>
  </ion-list>
</form>
</ion-content>

