<ion-app>
  <ion-header>
    <ion-title>ArabSoft</ion-title>
  </ion-header>
 <ion-content class="bg-image no-scroll">
  <img src="assets/icon/ccc.jpg" />
<ion-item>
  <ion-item  class="b"routerLink="/auth">
    <ion-button  fill="outline" shape="round" expand="block">Connectée</ion-button>
  </ion-item>
  <ion-item routerLink="/insc">
    <ion-button  fill="outline" shape="round" expand="block">Inscription</ion-button>
  </ion-item>
</ion-item>
  
  <img src="http://www.arabsoft.com.tn/smart/themes/default/assets/img/logo_svg.svg"/>

</ion-content>

</ion-app>